body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background: #EFF6FF;
}

.container {
    width: 550px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-top: 8px solid #2563EB;
}

h2 {
    text-align: center;
    color: #1D4ED8;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #374151;
}

input,
select,
textarea {
    width: 100%;
    padding: 11px;
    margin-top: 6px;
    border: 2px solid #93C5FD;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 25px;
    background: #2563EB;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: #1D4ED8;
}

.success {
    text-align: center;
    color: #16A34A;
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #BFDBFE;
}

th {
    background: #60A5FA;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    background: #EFF6FF;
}

button {
    background: #16A34A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #15803D;
}