body {
    margin: 0;
    font-family: Arial;
    background: #ECFEFF;
}

.container {
    width: 500px;
    margin: 70px auto;
    padding: 30px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-top: 8px solid #0891B2;
}

h2 {
    text-align: center;
    color: #0E7490;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 11px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 2px solid #67E8F9;
    border-radius: 8px;
}

input[type="submit"] {
    margin-top: 25px;
    background: #0891B2;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background: #ECFEFF;
    border: 2px solid #67E8F9;
    border-radius: 10px;
    line-height: 1.8;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #0E7490;
    font-weight: bold;
}